// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


article.event {
    img {
        float: left;
        margin: 0 20px;
        border: 3px solid #f0f0f0;
        max-width: 18rem;
    }
}

.field_with_errors label{
    color: red;
}

.field_with_errors input,
.field_with_errors input#event,
.field_with_errors textarea#event_description,
.field_with_errors input#event_image_file_name{
    background-color: #FFF2CF;
}