$primary-color: #237cbe;
$secondary-color: #f0f0f0;

header#page-header {
    background-color: $primary-color;
    color: $secondary-color; 
    padding: 20px;
    border-bottom: 5px solid darken($primary-color, 25%);

    h1 {
        text-align: center;
        text-transform: uppercase;
    }
}

aside#sidebar {
    background-color: $secondary-color;
    float: right; 
    padding: 30px;
}

footer#page-footer {
    background-color: $secondary-color;
    color: $primary-color; 
    padding: 10px;
    border-top: 5px solid darken($secondary-color, 25%);
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }